#message_form{
    margin-left: 30%;
    margin-top: 8%;
}
#basic-addon1{
    margin-top: 2%;
}
#classId{
    margin-top: 6px;
    
}
#basic-addon2{
    margin-bottom: 40px;
}

#work{
    margin-left: 3%;
}
#file_upload{
    margin-top: 2%;
    margin-left: 5%;
}
#jquery_post{
     margin-left: 12%;
     margin-top: 1%;
 }
#down_load_model{
    margin-left: 11%;
    margin-top: 1%;
}