.input-group{
    float: none;
}

.message_text{
    width: 100px;
}

.form-control{
    width: 280px;
}

#message_form{
    text-align:center;
    margin:10% auto;
    width: 350px;
}

#jquery_post{
    margin-left: 0;
}